<% title "Tasks" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Finish By</th>
    <th>Category</th>
    <th>Priority</th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td><%=h task.name %></td>
      <td><%=h task.description %></td>
      <td><%=h task.finish_by %></td>
      <td><%=h task.categories.collect {|c| c.name}.join(', ') %></td>
      <td><%=h task.priority.name %></td>
      <td><%= link_to "Show", task %></td>
      <td><%= link_to "Edit", edit_task_path(task) %></td>
      <td><%= link_to "Destroy", task, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Task", new_task_path %></p>
